{
  "presets": [
    "@babel/preset-env",
    "@babel/preset-react",
    "@lingui/babel-preset-react"
  ],
  "plugins": [
    "macros",
    // "babel-plugin-macros",
    "@babel/plugin-transform-regenerator",
    "@babel/plugin-transform-runtime",
    "@babel/plugin-syntax-dynamic-import",
    "@babel/plugin-proposal-optional-chaining",
    "@babel/plugin-proposal-class-properties"
  ],
  "env": {
    "test": {
      "plugins": [
        "dynamic-import-node"
      ]
    }
  }
}