::backdrop {
  z-index: 0;
  background-color: white !important;
}
html,
*:fullscreen,
*:-webkit-full-screen,
*:-moz-full-screen {
  background-color: white !important;
  font-family: 'Josefin Sans', Sans-serif;
  z-index: 1;
}
* {
  font-family: 'Josefin Sans', Sans-serif;
}
#canvas {
  width: 100%;
  height: 100vh;
  display: block;
  margin: 0 auto;
}
#canvas canvas {
  outline: none;
  height: 100% !important;
  width: 100% !important;
}

@media only screen and (max-width: 770px) and (orientation: landscape) {
  #canvas canvas {
    height: 45% !important;
    width: 36% !important;
    margin: 0 auto;
    display: block;
  }
}
