body {
  margin: 0;
}
h1 {
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
::backdrop {
  z-index: 0;
  background-color: white !important;
}
html,
*:fullscreen,
*:-webkit-full-screen,
*:-moz-full-screen {
  background-color: white !important;
  z-index: 1;
}
#canvas {
  border: 1px solid #001;
  width: 800px;
  height: 600px;
  display: block;
  margin: 0 auto;
}
#canvas canvas {
  outline: none;
  height: 100% !important;
  width: 100% !important;
}
